#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* 圖片亂跑動畫 */
.moving {
  position: absolute;
  animation: moveImage 5s infinite; /* 設定動畫 */
}

@keyframes moveImage {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, 100px);
  }
  50% {
    transform: translate(200px, -50px);
  }
  75% {
    transform: translate(-50px, 200px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* 設定網頁的佈景主題為黑色 */
body {
  background-color: #333; 
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}